/*VARIABLES*/
$primary-color: #A80000;
$secondary-color: #F3F3F3;
$tertiary-color: #414042;

/*MIXINS*/
@mixin flex-center($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}

.info-area{
    width: 100%;
}

.about-us-container{
    grid-area: nosotros;
    width: 100%;
}


.mision-container{
    grid-area: mision;
    width: 100%;
}

.vision-container{
    grid-area: vision;
    width: 100%;
}



/* MEDIA QUERIES */

/*PANTALLAS CHICAS-MEDIANAS*/
@media screen and (max-width: 767px) {
    .info-area{
        @include flex-center(column,center );
   }

}

// Pantallas grandes
@media screen and (min-width: 768px) {

    .info-area{
        @include flex-center(column,center );
   }

}

// Pantallas muy grandes
@media screen and (min-width: 1024px) { 
   .info-area{
        display: grid;
        grid-template-areas: "nosotros nosotros"
            "vision mision";
   }

}
