/*VARIABLES*/
$primary-color: #A80000;
$secondary-color: #F3F3F3;
$tertiary-color: #414042;

/*MIXINS*/
@mixin flex-center($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}


.circular-card-container{
    @include flex-center(column, center);
    width: 30em;
    transition: .5s;
    cursor: pointer;
    
    span{
        font-size: 1.2rem;
    }

    img{
        width: 100%;
        height: auto;
    }

    &:hover{
        
        box-shadow: 0px 0px 12px $primary-color;
       

        strong{
            transition: .2s;
            border-bottom: $secondary-color .3rem solid;
        }
    }

    .circular-card-body{
        background-color: $primary-color;
        @include flex-center(column, center);
        
        width: 100%;
        padding: 2rem;
        gap: 1rem;

        strong{
            font-size: 1.2rem;
        }

        strong, span{
           color: $secondary-color
        }

        .circular-icon{
            @include flex-center(column, center);
            gap: .5rem;
            transition: .2s;
            padding: 1rem;
            border-radius: 2rem;
            .icon-container{
               
                img{
                    width: 3rem;
                }
            }

            &:hover{  
                background-color: $secondary-color;
                span {
                    color: $primary-color;
                }
            }
        }
    }
}