/*VARIABLES*/
$primary-color: #A80000;
$secondary-color: #F3F3F3;
$tertiary-color: #414042;

/*MIXINS*/
@mixin flex-center($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}

.service-card-container{
    background-color: white;
    @include flex-center(column,center );
    padding: 2rem;
    gap: 1.5rem;
    transition: .4s;

    .icon-container{
        @include flex-center(column,center );
        img{
            width: 4rem;
        }
    }
     
    .card-title {
        color: $primary-color;   
    }

    .card-description {
        text-align: justify;
        color: $tertiary-color;
        line-height: 1.5em;
    }

    &:hover{  
        box-shadow: 0px 0px 12px $primary-color;
    }
}

.link {
    text-decoration: none;
    color: $primary-color;
}



/* MEDIA QUERIES */

/*PANTALLAS CHICAS-MEDIANAS*/
@media screen and (max-width: 767px) {
    .service-card-container{
        
        width: 40vw;

        .card-title {
            color: $primary-color;
            font-size: 3vw;
        }

        .card-description {
            font-size: 2vw;
        }

    }
}

// Pantallas grandes
@media screen and (min-width: 768px) {

    .service-card-container{
        
        width: 35vw;

        .card-title {
            color: $primary-color;
            font-size: 3vw;
        }

        .card-description {
            font-size: 2vw;
        }

    }
}

// Pantallas muy grandes
@media screen and (min-width: 1024px) {
  

    .service-card-container{
        
        width: 20vw;

        .card-title {
            color: $primary-color;
            font-size: 1vw;
        }

        .card-description {
            font-size: .8vw;
        }

    }
    

}



