/*VARIABLES*/
$primary-color: #A80000;
$secondary-color: #F3F3F3;
$tertiary-color: #414042;

/*MIXINS*/
@mixin flex-center($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}



/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

main {
    position: relative;
    top: 10rem;
}

body {
    background-color: $secondary-color;
    overflow-x: hidden;
}

section, body, main {
    @include flex-center(column, center );
    gap: 2rem;
    width: 100vw;
}

nav {
    @include flex-center(row, center );
    gap: 2rem;

    a {
        text-decoration: none;
        color: $tertiary-color;
        font-size: 1em;
    }

}

h1, h2 {
    color: $primary-color;
}

header {
    @include flex-center(row,space-between);
    position: fixed;
    background-color: $secondary-color;
    z-index: 1;
    height: auto;
    width: 100%;
    padding: 2rem;
}



/* BUTTON */
button {
    @include flex-center( column, center );
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
  
    width: 30em;
    font-size: 1em;
    color: $secondary-color;
    height: auto;

    transition: .4s;

    &:hover{
        background-color: $secondary-color;
        border: .1rem $primary-color solid;
        color: $primary-color;

        cursor: pointer;

    }
}

/* INFO SECTION*/
.sections-container{
    @include flex-center(row, center);
    gap: 2rem;
    
    width: 100%;
}


// Nombre de la informacion (QUIENES SOMOS, VISIÓN, MISIÓN)
.section-name{
    color: $secondary-color;
    @include flex-center(row, center);
    width: 30%;
    height: 4rem;
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    transition: background-color 0.3s;

    h2 {
        user-select: none;
        pointer-events: none;
        font-size: 1.25em;
        text-align: center;
        color: $secondary-color;
    }
}



// CONTENEDOR DEL TEXTO DE LA INFORMACIÓN
.info-text-container{
    padding: 2rem;
    @include flex-center(column, center);
    gap: 1rem;
    background-color: $secondary-color;

    h1{

        font-size: 3em;
        border-bottom: $primary-color .2rem solid;
        color: $primary-color;
        text-align: center;

    }

    p {
        color: $tertiary-color;
        font-size: 1.2em;
        text-align: justify;
        padding: 2rem;
        line-height: 2.5rem;
        
    }
}

// AREA DONDE ESTÁ LA IMAGEN Y EL TEXTO
.info-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height: auto;
    border-radius: 1rem;
    padding: 0 2rem;
    
    .info-image-container{
        background-color: #414042;
        height:  fit-content;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.123) 0%, rgba(0,0,0,1) 10%);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.459) 0%,rgba(0,0,0,0.65) 100%);
            
        }
    }

}

/* SERVICIOS */
.services-container{
    @include flex-center(column, center);
    gap: 2rem;
 

    h2 {
        color: $primary-color;
    }

    p {
        font-size: 1.25em;
        line-height: 1.5rem;
        text-align: justify;
    }
}

.services-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 10rem;
}


.service-card-container{
    background-color: white;
    padding: 2rem;
    width: 30em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    p {
        font-size: 1em;
        text-align: justify;
        color: $tertiary-color;
       
    }

    &:hover{  
        box-shadow: 0px 0px 12px $primary-color;
    }
}

.service-body-container {
    @include flex-center(column, center);
    
    gap: 2rem;
    background-color: $secondary-color;
    padding: 0 6rem;
    
    font-size: 1em;
    line-height: 2em;
    

    strong {
        color: $primary-color;
    }
}




/* FORM */


.map-container {
    width: 100%;
    height: 100%;
    border: none
}


.form-container{
    @include flex-center(column,center);
    padding: 4rem 2rem;
    gap: 2rem;
    background-color: $primary-color;
    h2 {
        color: $secondary-color;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    width: 20em;
    padding: 4rem 0;
    
    input::placeholder {
        color: $primary-color;
        opacity: 0.75;
        font-size: .75em;
    }

    input[type="text"], [type="email"]{
        
        padding: .5rem;
        border: $secondary-color .15em solid;
        background-color: $secondary-color;
        transition: background-color 0.5s ease;

        &:focus {
            outline: none;
            color: $secondary-color;
            background-color: $primary-color;
            transition: background-color 0.5s ease;

            &::placeholder {
                color: $secondary-color;
                
            }
        
        }
    }   

    input[type="submit"] {
        background-color: $secondary-color;
        padding: .625em 1.25em;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s ease;

        &:hover {
            background-color: #A80000;
            border: $secondary-color .15rem solid;
            color: $secondary-color;
        }
    }
    
   
}

.input-container{
    display: grid;
    grid-template-columns: 15% 85%;
    
    .icon-container {
        display: flex;

        align-items: center;
        justify-content: center;
        border-top: $secondary-color .15em solid;
        border-left: $secondary-color .15em solid;
        border-bottom: $secondary-color .15em solid;

        img {
            width: 2em;
            height: 2em;
            padding: .2rem;
        }
    }
}


.contact-buttons-container {
    @include flex-center(row, space-around);
    gap: 1em;
    padding: .75em 2em ;
    width: 80%;
    border-radius: 1rem;
    background-color: $secondary-color;

    .contact-nav-link-container{
        @include flex-center(column, center);
        width: 20%;
        font-size: .6em;
        text-decoration: none;
        color: $primary-color;
        gap: .2em;

        .icon-container img {
            width: 100%;
     
            cursor: pointer;
        }
    }
}

/* CIRCULARES */
.circular-container{
    @include flex-center(column, center );
    gap: 2rem;

    p {
        font-size: 1.25em;
        line-height: 1.5rem;
        text-align: justify;
    }
}

.circular-grid-container{
    @include flex-center(row, center );
    flex-wrap: wrap;
    gap: 0 2rem;
    padding: 0 10rem;
}


.circular-card-container{
    @include flex-center(column, center);
    width: 35em;
    gap: 1rem;
    transition: .5s;
    cursor: pointer;
    padding: 2rem;

    strong{
        color: $primary-color;
    }

    img{
        width: 100%;
        height: auto;
    }

    &:hover{  
        background-color: $primary-color;
        span, strong{
            color: $secondary-color
        }
    }
}


/* FOOTER */

footer{
    @include flex-center( column, center );
    font-size: .9em;
    width: 100%;
    position: relative;
    top: 10rem;
    
}

.footer-top-container{
    padding: 3rem
}

.footer-bottom-container {
    @include flex-center( column, center);
    text-align: center;
    width: 100%;
    padding: 2rem;
    border-top: $primary-color .1rem solid;
}

.footer-item-container{
    @include flex-center( row,  flex-start);
    gap: 1rem;
    text-decoration: none;
    
    .icon-container {


        img {
            width: 3em;
        }
    }

    p {
        text-decoration: none;
        color: $tertiary-color;
    }
}



/* AUXILIARES */
.icon-container {
    padding: .2rem .1rem;
}

.active {
    color: $primary-color;
    background-color: $secondary-color;
    font-weight: bold;
}

.animacion {
    animation: moveInBottom .0s ease-out .0s;
    animation-duration: .1s;
}

.red {
    background-color: $primary-color;
    transition: background-color 0.3s;
}

.gray {
    background-color: $tertiary-color;
    transition: background-color 0.3s;
}

.link {
    text-decoration: none;
    color: $primary-color;
}

.view-more-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    text-decoration: none;


    .icon-container img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.column {
    @include flex-center(column, center);
    gap: 2rem;
    text-align: justify;
}

/* KEYFRAMES */
@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px); }
    100% {
      opacity: 1;
      transform: translateY(0); 
    } 
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .header-logo {
        width: 80%;
    }

    nav {
        z-index: 2;
        position: fixed;
        right: 0;
        background-color: $primary-color;
        @include flex-center(column, center); 
        width: auto;
        font-size: 1em;

        a {
            text-align: center;
            padding: 1rem;
            text-decoration: none;
            color: $secondary-color;
            width: 100%;
            font-size: .8em;
    
            &:active, &:hover{
                color: $primary-color;
                background-color: $secondary-color;
            }
        }
    }

    .footer-top-container {
        @include flex-center( column, center);
        
    }

    .footer-info-container{
        display: none;
    }

    .contact-container {
        @include flex-center(column, center );
        gap: 0;
        height: 80rem;

        .form-container {
            width: 100%;
        }

        
    }

    .sections-container {
        @include flex-center( column, center );
        gap: 2rem;

        p {
            line-height: 2em;
            font-size: 1em;
        }
    }

    .footer-top-container {
        @include flex-center( column , space-between);
        gap: 2rem;
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    .header-logo {
        width: 30em;
    }
 
    .contact-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 0;
        height: auto;
        width: 100%;
    }

    .footer-top-container {
        @include flex-center( row , space-between);
        gap: 2rem;
        width: 100%;
    }
 }
  
