/*VARIABLES*/
$primary-color: #A80000;
$secondary-color: #F3F3F3;
$tertiary-color: #414042;

/*MIXINS*/
@mixin flex-center($direction, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: $justify;
}



/*GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: $secondary-color;
    overflow-x: hidden;
   
}

h1, h2 {
    color: $primary-color;
    text-align: center
}


main {
    @include flex-center(column, center);
    width: 100%;
    gap: 4rem;
}

.active {
    color: $primary-color;
    background-color: $secondary-color;
    font-weight: bold;
}


.red {
    background-color: $primary-color;
    transition: background-color 0.3s;
}

.gray {
    background-color: $tertiary-color;
    transition: background-color 0.3s;
}

.link {
    text-decoration: none;
    color: $primary-color;
}

// .view-more-container{
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     gap: .5rem;
//     text-decoration: none;
    
    
//     .icon-container img {
//         width: 20px;
//         height: 20px;
//         cursor: pointer;
//         display: flex;
//         align-items: center;
//     }
// }

.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}

.column {
    @include flex-center(column, center);
    gap: 2rem;
    text-align: justify;
}

section{
    position: relative;
    top: 10rem;
    width: 100%;
}



/* MEDIA QUERIES */

/*PANTALLAS CHICAS-MEDIANAS*/
@media screen and (max-width: 767px) {
    section{
        h2 {
            font-size: 2rem;
        }

        p{
            font-size: 1.4rem;
        }
    }
       
}

// Pantallas grandes
@media screen and (min-width: 768px) {

    section{
        h2 {
            font-size: 2em;
        }

        p{
            font-size: 1.5rem;
        }
    }

}

// Pantallas muy grandes
@media screen and (min-width: 1024px) {
    section{
        h2 {
            font-size: 2rem;
        }

        p{
            font-size: 1.4rem;
        }
    }
}



